.header {
    @include flex ();
    // position: fixed;
    background: $primary-color;
    padding: 0 $p-2;
    
    width: 100%;
    height: 8rem;

    z-index: 10;

    &__icons {
        display: flex;
        justify-content: center;
        padding: $p-2;
    
        &_icon {
            width: 42px;
            height: 46px;
            padding-left: $p-1;
        }
    }
}

.menu-icon {
    display: none;
    width: 25px;

    cursor: pointer;
}

.logo {
    display: inline-flex;
    padding: $p-2;

    &__block {
        display: block;
        padding: $p-1 0;
    }

    &__title { 
        font-size: $font-24;
        font-weight: $font-w-700;
        padding: 0 $p-1 0 $p-1;
        text-transform: uppercase;
    }

    &__description {
        font-size: $font-10;
        padding: 0 $p-1;
        text-align: center;
    }
}

.popup {
    position: fixed;

    width: 8rem;
    height: 6rem;

    bottom: 2rem;
    right: 1rem;
    display: inline-block;
 
    background: linear-gradient(violet, pink);
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;

   &__call {
    text-decoration-color: $color-orange;
    align-items: center;
    justify-content: center;
    color: $color-orange;
   }

   &:hover {
    cursor: pointer;

    border-radius: 20px;
    transform: translateY(5px);
    box-shadow: 0 5px 10px $color-lightblue;
    background: $color-violet;
}
}


// .call {
//     position: fixed;
//     bottom: 2.2rem;
//     right: 1rem;
//     width: 5rem;
//     height: 5rem;
//     background-color: $secondary-color;
//     border-radius: 50%;
//     // box-shadow: 0 6px 5px var(--shadow);
//     z-index: 9;
// }