//MEDIA
@media only screen and (max-width:360px) {
    .header {
        padding: 0 $p-1;

        display: block;

        &__icons {
            float: right;
            display: inline;

            &_icon {
                display: inline;
            }
        }
    }

    .logo {
        padding: $p-1;
        float: left;

        &__title {
            font-size: $font-20;
            font-weight: $font-w-900;
        }

        &__description {
            font-size: $font-8;
        }
    }

    .popup {
        display: none;
    }


    .btns {
        align-items: center;
        
        width: 240px;
        height: 60px;

        line-height: 55px;
        font-size: $font-16;
        font-weight: $font-w-500;
    }

    .title {
        padding: $p-1;

        font-size: $font-36;
        font-weight: $font-w-900;
        line-height: 45px;
        text-align: left;

        &-section {
            padding: $p-1;

            font-size: $font-36;
        }

    }

    .link {
        font-size: $font-20;
        padding: $p-1;
    }

    .icons {
        // display: flex;
        // justify-content: center;
        // align-items: center;

        &__icon {
            width: 36px;
            height: 40px;
        }
    }

    .section__block {
        display: block;
        justify-content: center;
        align-items: center;

        
    }


    .form {
        width: 320px;
    }




}

// @media only screen and (max-width:780px) {
//     nav ul {
//         width: 100%;
//         position: absolute;
//         top: 75px;
//         right: 0;
  
//         background: linear-gradient(violet, pink);
//         z-index: 2;
//     }
  
//     nav ul li {
//         display: block;
//         margin-top: 10px;
//         margin-bottom: 10px;
//     }
  
//     nav ul li a {
//         color: white;
//     }
  
//     .menu-icon {
//         display: block;
//     }
  
//     #menulist {
//       overflow: hidden;
//       transition: .5s;
//   }
  
  
//   }