.product {
    @include flex();

  
    &__item {
      @include transition();
  
      position: relative;
    
      width: calc(100% / 4);
      margin: $m-1;
      padding: $p-2;
    
      text-align: center;
      background-color: $color-pink;
      border-radius: 1rem;
    
      cursor: pointer;
  
      &:hover {
        transform: translateY(-3px);
      }
    }
  
    &__image {
      padding: $p-2;
      width: 150px;
      height: 300px;
    }
  
    &__title {
      padding: $p-1;
  
      font-size: $font-20;
      font-weight: $font-w-500;
  
      color: $color-white;
    }
  
    &__description {
      padding: $p-1;
  
      color: $color-purple;
      line-height: 1.5;
    }
  }

  //catalog

.filters {
  float: left;
  padding: 1rem;
  height: auto;
  width: 20%;

  background-color: $secondary-color;
  text-align: center;
  border-radius: 15px;

  &__title {
    font-size: $font-24;
  }

  &__subtitle {
    font-size: $font-20;
    text-decoration: underline;
  }

  &__descriptions {
    font-size: $font-16;
  }
}

